# Скопируй в .env и заполни значения
SECRET_KEY=замени-на-случайную-строку-50-символов
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,192.168.1.155
CSRF_TRUSTED_ORIGINS=http://192.168.1.155

DATABASE_URL=postgresql://postgres:12345@postgres:5432/mydb

DADATA_TOKEN=
